@import url("https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Hand:wght@400..700&display=swap");
@import "tailwindcss";

body {
  font-family: "Edu VIC WA NT Hand", serif;
  font-optical-sizing: auto;
  font-style: normal;
}
